<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
</head>
<body>
    <ul>
    <% contacts.forEach(contact => { %>
        <li> 
            name : <%= contact.name %> 
            email : <%= contact.email %>
            phone # : <%= contact.phone %> 

            <a href="/view/<%= contact.id %>">view</a>
            <a href="/edit/<%= contact.id %>">edit</a>
            <a href="/delete/<%= contact.id %>">delete</a>
        </li>
    <% }) %>  
    </ul>
    <a href="/add">Add Contact</a>
</body>

</html>